.body{
    background-image: url('C:\Users\User\Downloads\planets-app-master\UniversoEnLaWeb\client\src\components\planeta.png'),
  url('C:\Users\User\Downloads\planets-app-master\UniversoEnLaWeb\client\src\components\planeta.png');
}
form {
    background-color: #333;
    color: white;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  button[type='submit'] {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0069d9;
  }
  
  button {
    background-color: #ff3b3b;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c71212;
  }
  
  .remove-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  